body {
	line-height: 1.8rem;
	color: #ababab;
	height: 100%;
	background-repeat: repeat;
	background-color: #121212;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	letter-spacing: -0.05em;
	font-size: 1.5em;
	color: #6eb62d;
}

.fa {
	color: #ababab;
	}

.competition-option--add input, .input[type="text" i], textarea, input[type="date" i], input[type="time" i] {
	background: #212121;
	border: 1px solid #525252;
	padding: 5px;
	color: #ccc;
}
select {
	background: #212121;
	border: 1px solid #525252;
	color: inherit;
	height: 25px;
}
.competition-header__name {
	padding-left: 42px;
	font-size: 35px;

}
.pass-hide {
    color: green;
    text-decoration: none;
}
#competition-banner {

}
#competition-banner .competition-header__banner {

}
nav.site-navigation--container {
	margin-left: 40px;
	margin-right: 40px;
}
.site-navigation {
	height: 40px;
	background: rgba(0, 0, 0, 0.42);
	border-radius: 6px;
	box-shadow: inset 0 0 6px 1px black;
	-webkit-padding-start: 0;
}
.site-navigation .nav-item {
	border: 1px solid rgba(255,255,255,0.1);
	border-width: 0px 1px 0px 0px;
	padding: 0px 10px;
	float: left;
	list-style: none;
	min-width: 100px;
	text-align: center;
	height:40px;
}

.site-navigation .nav-item:last-child {
	float: right;
	border-width: 0px 0px 0px 1px;
	}
	
.nav-item:hover {
	background: rgba(255,255,255,0.05);
}
.nav-item a, .nav-item a:visited {
	color: #ccc;
	text-decoration: none;
	top: 4px;
	position: Relative;
	height: 33px;
    display: block;
    font-weight: 600;

}
.competition-error {
	margin-left: 40px;
    color: #EB0000;
    margin-right: 40px;
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px black;
}
.competition-body {
	margin: 10px 40px;
	min-width: 440px;
}
.competition-body form {
	display:inline-block;
}
.competition-body__center, .page-title {
	/* margin-left: 15px; */
}
.competition-body__body {
	
	min-height:300px;
}
.competition-skill--center {
	text-align: center;	
}
.competition-options--column-1, .competition-options--column-2, .competition-stats--column-1, .competition-stats--column-2 {
	float:left;
	padding:10px;
}
.competition-stats__table {
	margin: 0 auto;
	margin-bottom: 2em;
}

td.spacer {
    width: 30px;
}
td.align-right {
	text-align: right;
	padding-left: 10px;
}

.competition-stats--container {
    width: 100%;
    display: inline;
}
.competition-option--add {
	    clear: both;
	    display: block;
	    position: relative;
	    line-height:2.3;
}/*
#competition-submit, #competition-cancel, .competition-action__button {
	    background: #033402;
	    color: #D1D1D1;
	    padding: 5px 10px;
	    margin: 5px;
	    border: 1px solid #717171;
	    display: inline-block;
	    width: 74px;
	    float: left;
}*/

.competition-footer {
	width:100%;
	/*padding: 0 40px;*/
	font-size:10px;
	color:#ccc;
	text-align:center;
	clear:both;
}
.competition-body__table {
	clear:both;
	width:100%;
}
.competition-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.competition-table--header {
	margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0.75em;
}
.competition-table__header {
	/*background-color: green;*/
   	color: black;
    /* text-shadow: 1px 1px #2f5a27; */
}

.page-title {
	margin-top: 2.5em;
	}
	
.page-title:first-child {
	margin-top: 1em;
	}

th {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #232323;
	color: #a6a6a6;
	}
	
th:first-child {
	border-top-left-radius: 10px;
	}
	
th:last-child {
	border-top-right-radius: 10px;
	}

tr:last-child > td:first-child {
	border-bottom-left-radius: 10px;
	}
	
tr:last-child > td:last-child {
	border-bottom-right-radius: 10px;
	}



.competition-table__data td {
	background: #264c1e;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.competition-table__data:nth-child(even) td {
	background: #172616;
}
.competition-data__item-nameLink {
	color: #ababab;
	-o-transition:.2s;
  	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	text-decoration: none;
}
.competition-data__item-nameLink:hover {
	color: #FFFFFF;
}
.competition-data__item {
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
.start-competition--submit, .update-competition--submit {
	width: auto;
}
.competition-stats--item {
	display: block;
	clear: both;
}
.data-highlight {
	color: green;
	font-weight: bold;
}
.comp-can-start {
    font-weight: normal;
    font-style: italic;
}
.comp-ended {
	color: red;
}
.time-to-start {
	color: goldenrod;
}
.competition-status--private {
	color: #b60000;
}
.competition-status--private:after {
	content: " (Private)";
}

.a-button, .submit-button, #competition-submit, #competition-cancel, .competition-action__button {
     background: #033402;
	    color: #D1D1D1;
	    padding: 5px 10px;
	    margin: 5px;
	    border: 1px solid #717171;
	    display: inline-block;
	    float: left;
	    cursor: pointer;
	    transition: background 0.5s ease;
}
.a-button:focus, .a-button:hover, .submit-button:focus, .submit-button:hover,#competition-submit:hover, #competition-cancel:hover, .competition-action__button:hover,#competition-submit:focus, #competition-cancel:focus, .competition-action__button:focus {
    background-color: green;
    color: #e7e7e7;
    transition: background 0.5s ease;
}

input {
	    background: #212121;
    border: 1px solid #525252;
    padding: 5px;
    color: #ccc;
}